<div class="app-container">
  <!-- Afficher le layout principal uniquement si l'utilisateur est connecté -->
  <ng-container *ngIf="isLoggedIn; else loginTemplate">
    <mat-toolbar color="primary" class="app-toolbar">
      <button mat-icon-button (click)="toggleSidenav()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-title">{{ title }}</span>
      <span class="spacer"></span>
      
      <!-- Menu utilisateur -->
      <button mat-button [matMenuTriggerFor]="userMenu" class="user-menu-button">
        <mat-icon>person</mat-icon>
        <span class="user-name">{{ currentUser?.prenom }} {{ currentUser?.nom }}</span>
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon>
          <span>Mon profil</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav [opened]="isSidenavOpen" [mode]="'side'" class="sidenav">
        <div class="sidenav-header">
          <div class="logo-container">
            <img src="assets/logo.png" alt="Logo" class="logo">
          </div>
        </div>
        
        <mat-nav-list>
          <a mat-list-item routerLink="/dashboard" [class.active]="isActive('/dashboard')">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <span matListItemTitle>Tableau de bord</span>
          </a>
          
          <a mat-list-item routerLink="/chantiers" [class.active]="isActive('/chantiers')">
            <mat-icon matListItemIcon>construction</mat-icon>
            <span matListItemTitle>Chantiers</span>
          </a>
          
          <a mat-list-item routerLink="/budgets" [class.active]="isActive('/budgets')">
            <mat-icon matListItemIcon>account_balance</mat-icon>
            <span matListItemTitle>Budgets</span>
          </a>
          
          <a mat-list-item routerLink="/factures" [class.active]="isActive('/factures')">
            <mat-icon matListItemIcon>receipt</mat-icon>
            <span matListItemTitle>Factures</span>
          </a>
          
          <a mat-list-item routerLink="/utilisateurs" [class.active]="isActive('/utilisateurs')">
            <mat-icon matListItemIcon>people</mat-icon>
            <span matListItemTitle>Utilisateurs</span>
          </a>
          
          <a mat-list-item routerLink="/rapports" [class.active]="isActive('/rapports')">
            <mat-icon matListItemIcon>assessment</mat-icon>
            <span matListItemTitle>Rapports</span>
          </a>
        </mat-nav-list>
      </mat-sidenav>
      
      <mat-sidenav-content class="sidenav-content">
        <div class="content-container">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
  
  <!-- Template pour la page de login -->
  <ng-template #loginTemplate>
    <router-outlet></router-outlet>
  </ng-template>
</div>

